# gRPC
GRPC_HOST="localhost"
GRPC_PORT=50051

# Postgres
DATABASE_USER="postgres"
DATABASE_PASSWORD="your_postgres_password"
DATABASE_HOST="localhost"
DATABASE_PORT=5433
DATABASE_NAME="valcinema_record_auth"
DATABASE_URI="postgresql://postgres:your_postgres_password@localhost:5433/valcinema_record_auth"

# Redis
REDIS_USER="default"
REDIS_PASSWORD="your_redis_password"
REDIS_HOST="localhost"
REDIS_PORT=6379

# Passport
PASSPORT_SECRET_KEY="your_super_secret_token_key_here"
PASSPORT_ACCESS_TTL=900
PASSPORT_REFRESH_TTL=2592000

# Telegram
TELEGRAM_BOT_ID="your_bot_id"
TELEGRAM_BOT_TOKEN="your_bot_token"
TELEGRAM_BOT_USERNAME="your_bot_username"
TELEGRAM_REDIRECT_ORIGIN="your_domain_frontend"
